<div class="container mt-3 border">

    <h3 class="text-center"> Reactive Form</h3>
  
    <form [formGroup] = 'signup' (ngSubmit)="save()">
  
      <h3>Personal Details</h3>
      <div class="row mt-4">
  
        <div class="col-md-4">
          <label for="fName" class="form-label">First Name</label>
          <input type="text" name="fName" id="id1" class="form-control" formControlName="firstName">
  
          <div *ngIf="firstName.touched && firstName.invalid">
            <div class="invalid-feedback d-block" *ngIf="firstName.errors?.['required']">This field is required</div>
          </div>
        </div>
  
        <div class="col-md-4">
          <label for="lName" class="form-label">Last Name</label>
          <input type="text" name="lName" id="id2" class="form-control" formControlName="lastName">
  
          <div *ngIf="lastname.touched && lastname.invalid">
            <div class="invalid-feedback d-block" *ngIf="lastname.errors?.['required']">This field is required</div>
          </div>
  
        </div>
  
        <div class="col-md-2">
          <label for="age" class="form-label">Age</label>
          <input type="text" name="age" id="id3" class="form-control" formControlName="age">
  
          <div *ngIf="age.touched && age.invalid">
            <div class="invalid-feedback d-block" *ngIf="age.errors?.['required']">This field is required</div>
          </div>
  
        </div>
  
      </div>
  
      <div class="row">
  
        <div class="col-md-4">
          <label for="email" class="form-label">Email</label>
          <input type="text" name="email" id="id4" class="form-control" formControlName="email">
  
          <div *ngIf="email.touched && email.invalid">
            <div class="invalid-feedback d-block" *ngIf="email.errors?.['required']">This field is required</div>
            <div class="invalid-feedback d-block" *ngIf="email.errors?.['pattern']">Enter a valid Email</div>
          </div>
        </div>
  
        <div class="col-md-4">
          <label for="gender" class="mx-3 mt-5">Gender :</label>
  
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male" formControlName="gender">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
  
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female" formControlName="gender">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>
  
      </div>
  
      <!-- address form  -->
  
      <div class="row mt-3" formGroupName="address">
  
        <h2>Address</h2>
  
        <div class="col-md-4">
          <label for="line1" class="form-label">Line 1 Address</label>
          <input type="text" class="form-control" name="line1" formControlName="line1">
        </div>
  
        <div class="col-md-4">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" name="city" formControlName="city">
        </div>
        <div class="col-md-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="country" formControlName="country">
          </div>
  
        <div class="col-md-4">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" name="state" formControlName="state">
        </div>
      </div><br><br>
  
      <button type="submit" class="btn btn-primary" [disabled]="signup.invalid">Submit</button>
  
    </form><br>
  
  </div>
  